name: Build/release

on:
  push:
    branches: ['*']
    paths:
      - 'src/*'
      - 'src/**/*'
      - 'package.json'

concurrency:
  group: "build"
  cancel-in-progress: true

jobs:
  release:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-12, ubuntu-latest, windows-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v1

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v1
        with:
          node-version: 18
      
      - name: Setup pnpm
        # You may pin to the exact commit or the version.
        # uses: pnpm/action-setup@c3b53f6a16e57305370b4ae5a540c2077a1d50dd
        uses: pnpm/action-setup@v2.2.4
        with:
          # Version of pnpm to install
          version: 7.21.0
        
      - name: Install dependencies
        run: pnpm install

      - if: matrix.os == 'macos-12'
        name: Build/release Electron app darwin/universal
        run: pnpm make --arch=universal --platform=darwin
        
      - if: matrix.os == 'ubuntu-latest'
        name: Build/release Electron app linux/x64
        run: pnpm make --arch=x64 --platform=linux
        
      - if: matrix.os == 'windows-latest'
        name: Build/release Electron app windows/x64
        run: pnpm make --arch=x64 --platform=win32

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v3.1.1
        with:
          name: build
          path: |
            out/make/*
